@import './../../../styles.scss';

.contact {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 85px;
    overflow-y: hidden;
    padding: 100px 5vw 20px;
  @media (max-width: 800px) {
    padding: 40px 5vw 40px;

  }
}

.sectionHeader {
    display: flex;
    align-items: center;

    h1 {
        white-space: nowrap;
    }

    span {
        border-bottom: 4px solid $blue;
        border-color: $blue;
        position: absolute;
        left: 0;
        width: clamp(16px, 4.5vw, 58px);
    }
}

.contactContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;

    @media (max-width: 1200px) {
        flex-direction: column;
        gap: 35px
    }

}

.contactLeft {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 35px;

    @media (max-width: 1200px) {
        width: clamp(300px, 100%, 600px);
    }

    h2 {
        font-size: clamp(25px, 2vw, 32px);
        color: white;
    }

    span {
        color: white;

        &:last-child {
            font-weight: bold;
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 32px;
    width: 50%;

    @media (max-width: 1200px) {
        width: clamp(300px, 100%, 600px);
    }

    .formField {
        gap: 10px;
        min-height: 77px;
        display: flex;
        flex-direction: column;

        input,
        textarea {
            width: 100%;
            padding: 15px 25px 15px 25px;
            border: 1px solid $purple;
            border-radius: 10px;
            background-color: $backgroundcolor !important;
            font-size: 16px;
            line-height: 20px;
            color: white;
            font-family: "Poppins", sans-serif;

            &:hover {
                border-color: $bluegreen;
            }
        }

        textarea {
            resize: vertical;
            min-height: 200px;
        }
    }

    .borderRed {
        border-color: #E61C40 !important
    }

    .borderGreen {
        border-color: $green !important;
    }

    button {
        width: 253px;
        height: 58px;
        padding: 15px 30px 15px 30px;
        border-radius: 10px;
        background-color: $lightblue;
        color: white;
        cursor: pointer;
        font-size: 23px;

        &:hover {
            background-color: $blue;
        }

        &:disabled {
            background-color: #B6B6B6;
            color: white;
            cursor: not-allowed;
        }
    }
}

.agreementContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    height: 52px;

    .agreement {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        color: white;

        a {
            text-decoration: none;
            color: $purple
        }
    }

}

.error-message {
    color: red;
    font-size: 12px;
}

.input-container {
    position: relative;
    display: inline-block;
}

.imgContainer {
    position: absolute;
    right: 10px;
    top: 13px;
    height: 26px;
    width: 26px;
    backface-visibility: hidden;
}

.status-img {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: $backgroundcolor;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    border-radius: 50%;
}

.imgContainer .flipped {
    transform: rotateY(180deg);
}

.custom-checkbox {
    position: relative;
    display: inline-block;
    align-items: center;
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    border-radius: 100%;
    overflow: visible;

    &:hover {
        background-color: $alternative;
    }
}



.custom-checkbox input {
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.custom-checkbox label {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url('./../../../assets/img/contact/unchecked.png');
    background-size: cover;
    cursor: pointer;
}

.custom-checkbox input:checked+label {
    background-image: url('./../../../assets/img/contact/checked.png');
    /* Bild für ausgewählte Checkbox */
}

::placeholder {
    color: white;
    font-size: 16px;
    opacity: 1;
    font-family: "Poppins", sans-serif;
}

input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: $backgroundcolor
}

.shadowContainer {
    position: absolute;
    z-index: -2;
    top: 0px;
    left: -46px;
    rotate: 0deg;
    width: 371px;
    height: 158%;

    img {
        height: 100%;
        width: 100%;
    }
}

.scrollUp {
    position: absolute;
    right: 5%;
    bottom: 45px;
    cursor: pointer;
    width: 24px;

    &:hover {
        transform: scale(1.1);
        content: url(./../../../assets/img/contact/gouphover.png);
    }
}

.confirmationOverlay{
    position: absolute;
    background-color: rgba(20, 29, 47, 0.8);
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
}

.confirmation{
    border-style: unset;
    width: 260px;
    height: 58px;
    border-radius: 10px;
    background-color: #4B47FF;
    font-size: 23px;
    color: white;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
    position: absolute;
   bottom: 20%;
   left: calc(50% - 130px);

    z-index: 10000;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $backgroundcolor inset !important;
    box-shadow: 0 0 0px 1000px $backgroundcolor inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;  // Trick für Chrome
}