<header #header>

  <img routerLink="/" (click)="scrollTo('startingPage')" class="logo" src="assets/img/logo/logoSmall.png" width="85.6"
    height="80" alt="Logo">
  <div class="headerRight">
    @if(router.url == '/'){
    <a (click)="scrollTo('aboutMe')" [ngClass]="{ 'active': activeSection === 'aboutMe' }" translate>About me</a>
    <a (click)="scrollTo('skills')" [ngClass]="{ 'active': activeSection === 'skills' }" translate>Skills</a>
    <a (click)="scrollTo('portfolio')" [ngClass]="{ 'active': activeSection === 'portfolio' }" translate>Portfolio</a>
    <div (click)="toggleBurger()" class="burgerMenu" [ngClass]="{'active': burgerMenuOpen === true}">
      <b></b>
      <b></b>
      <b></b>
    </div>
    }

    <div class="imgContainer" (click)="languagesService.changeSiteLanguage()">
      <img class="status-img" [ngClass]="{'flipped': languagesService.currentLanguage == 'de'}"
        src="assets/img/header/gerFlag.png" alt="Error">
      <img class="status-img" [ngClass]="{'flipped': languagesService.currentLanguage == 'en'}"
        src="assets/img/header/gbFlag.png" alt="Checked">
    </div>
  </div>

  <div class="headerMobile" [ngClass]="{'active': burgerMenuOpen === true}">
    <div class="headerMobileContent">
      <a (click)="scrollTo('aboutMe'); toggleBurgerWithDelay()" [ngClass]="{ 'active': activeSection === 'aboutMe' }"
        translate>About me</a>
      <a (click)="scrollTo('skills'); toggleBurgerWithDelay()" [ngClass]="{ 'active': activeSection === 'skills' }"
        translate>Skills</a>
      <a (click)="scrollTo('portfolio'); toggleBurgerWithDelay()"
        [ngClass]="{ 'active': activeSection === 'portfolio' }" translate>Portfolio</a>
      <a (click)="scrollTo('contact'); toggleBurgerWithDelay()" [ngClass]="{ 'active': activeSection === 'contact' }"
        translate>Contact</a>
    </div>
  </div>
</header>