@import './../../styles.scss';

.footer {
    position: relative;
    border-top: 4px solid $purple;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5vw;

 
  
}

.footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 650px) {
        flex-direction: column;
        gap: 35px
    }
}

.footerLeft {
    display: flex;
    align-items: center;
    flex-direction: column;

    img {
        height: 50px;
        cursor: pointer;
    }

    ;


}

.footerMiddle {
    font-size: 23px;
    color: white;
}

.icons {
    display: flex;
    gap: 25px;

    a {
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img {
        height: 30px;
        transition: all 125ms;

        &:hover {
            height: 40px;
        }
    }
}

.imprint {
    cursor: pointer;
    color: white;
    font-size: 16px;

    display: none;
     &:hover {
        color: $purple
    }

    @media (max-width: 650px) {
        position: absolute;
        top: 320px
    }
}

.imprintMobile {
    @media (max-width: 650px) {
        display: block !important
    }
}

.imprintDesktop {
    @media (min-width: 650px) {
        display: block !important
    }
}