<section id="aboutMe" class="aboutMe content">
    <div class="aboutMeContent">
        <div data-aos="fade-right" class="contentLeft">
            <h1 translate>About Me</h1>
            <p translate>Hey, nice to meet you! I am David, a German-speaking Frontend Developer based near Nuernberg with experience in building web apps with JavaScript & Angular. I have written projects alone or in teams, based on clean code principles. You're welcome to visit my public portfolio.</p>
            <div class="personal">
                <div class="imgWrapper">
                    <img src="./../../assets/img/aboutMe/bulb.png" alt="">
                </div>
                <p translate>I am fascinated by the variety of possibilities in programming. Building projects from scratch and the sense of achievement after finishing them are one of my favorite aspects. I am looking for an opportunity to prove my skills as a junior frontend developer.": "I am fascinated by the variety of possibilities in programming. Building projects from scratch and the sense of achievement after finishing them are one of my favorite aspects. I am looking for an opportunity to prove my skills as a junior frontend developer.</p>
            </div>
            <div class="personal">
                <div class="imgWrapper">
                    <img src="./../../assets/img/aboutMe/puzzle.png" alt="">
                </div>
                <p translate>I am very glad to have found my place in the world of programming, now I am seeking a place in a great team. My goal is to constantly learn and grow. I am highly motivated and excited to master new challenges and to learn from them every day.": "I am very glad to have found my place in the world of programming, now I am seeking a place in a great team. My goal is to constantly learn and grow. I am highly motivated and excited to master new challenges and to learn from them every day.</p>
            </div>
        </div>

        <div data-aos="fade-left" class="contentRight">
            <div class="img"><img src="./../../assets/img/aboutMe/foto.png" alt=""></div>
            <div class="line"></div>
        </div>
    </div>
    <div class="shadowContainer">
        <img src="./../../assets/img/shadows/shadow7.png" alt="">
    </div>
</section>