<section id="aboutMe" class="aboutMe content">

    <div class="contentLeft">
        <h1 translate>16</h1>
        <p translate>2</p>
        <div class="personal">
            <div class="imgWrapper">
            <img src="./../../assets/img/aboutMe/bulb.png" alt="">
        </div>
            <p translate>3</p>
        </div>
        <div class="personal">
            <div class="imgWrapper">
            <img src="./../../assets/img/aboutMe/puzzle.png" alt="">
            </div>
            <p translate>4</p>
        </div>
    </div>

    <div class="contentRight">
        <div class="img"><img src="./../../assets/img/aboutMe/foto.png" alt=""></div>
        <div class="line"></div>
    </div>

</section>