<div class="projects">
    <div class="project" [attr.data-aos]="i % 2 === 0 ? 'fade-left' : 'fade-right'" data-aos-offset="200"  *ngFor="let project of projects; let i = index" [ngClass]="{'reverse': i % 2 === 1}" >
        <div class="projectLeft">
    <a href="{{project.link}}" target="_blank" class="projectImg">
                <img  src="./../../../assets/img/portfolio/emptyPC.png" alt="">
                <img  src="./../../../assets/img/portfolio/{{project.imgname}}.jpg">
                <img  src="./../../../assets/img/portfolio/{{project.imgname}}.gif">
            </a> 
        </div>
        <div class="projectRight">
            <div class="projectInfo">
                <span class="projectName">{{project.name}}</span>
                <div class="projectStack">
                    <span *ngFor="let skill of project.stack; let last = last">
                        {{ skill }}
                        <span *ngIf="!last">&nbsp;|&nbsp;</span>
                    </span>
                </div>
                <span class="projectDecription" translate>{{project.description}}</span>
            </div>
            <div class="projectButtons">
                <a href="{{project.link}}" target="_blank">Live Test</a>
                <a href="{{project.githublink}}" target="_blank">Github</a>
            </div>
        </div>
    </div>
</div>