<section id="contact" class="contact content">

    <div class="sectionHeader">
        <span></span>
        <h1 translate>Contact</h1>
    </div>
    <div class="contactContent">
        <div data-aos="fade-right" class="contactLeft">

            <h2 translate>Got a problem to solve?</h2>
            <p translate>Contact me through this form, I am interested in hearing you, knowing your ideas and
                contributing to your projects with my work.</p>
            <div><span translate>Need a Frontend developer? </span> <span translate>Contact me!</span></div>


        </div>
        <form data-aos="fade-left" class="form" [formGroup]="myForm" (ngSubmit)="onSubmit(); false">
            <div class="formField">
                <div class="input-container">
                    <input formControlName="name" placeholder="{{ 'Your name' | translate }}" required [ngClass]="{
                      'borderRed': myForm.get('name')?.touched && nameError,
                      'borderGreen': myForm.get('name')?.valid && myForm.get('name')?.touched && !nameError
                    }">
                    <div *ngIf="myForm.get('name')?.touched" class="imgContainer">
                        <img [ngClass]="{'flipped': myForm.get('name')?.valid,}" class="status-img"
                            src="assets/img/contact/error.png" alt="Error">
                        <img [ngClass]="{'flipped': myForm.get('name')?.invalid,}" class="status-img"
                            src="assets/img/contact/done.png" alt="Checked">
                    </div>
                </div>
                <span class="error-message" *ngIf="myForm.get('name')?.touched && nameError">{{ nameError }}</span>
            </div>


            <div class="formField">
                <div class="input-container">
                    <input formControlName="email" placeholder="{{ 'Your email' | translate }}" required
                        [class.borderRed]="myForm.get('email')?.touched && emailError"
                        [class.borderGreen]="myForm.get('email')?.valid && myForm.get('email')?.touched">
                    <div *ngIf="myForm.get('email')?.touched" class="imgContainer">
                        <img [ngClass]="{'flipped': myForm.get('email')?.valid,}" class="status-img"
                            src="assets/img/contact/error.png" alt="Error">
                        <img [ngClass]="{'flipped': myForm.get('email')?.invalid,}" class="status-img"
                            src="assets/img/contact/done.png" alt="Checked">
                    </div>
                </div>
                <span class="error-message" *ngIf="myForm.get('email')?.touched && emailError">{{ emailError }}</span>
            </div>

            <div class="formField">
                <div class="input-container">
                    <textarea formControlName="message" placeholder="{{ 'Your message' | translate }}" required
                        [ngClass]="{
                    'borderRed': myForm.get('message')?.touched && messageError,
                    'borderGreen': myForm.get('message')?.valid && myForm.get('message')?.touched
                  }"></textarea>

                    <div *ngIf="myForm.get('message')?.touched" class="imgContainer">
                        <img [ngClass]="{'flipped': myForm.get('message')?.valid,}" class="status-img"
                            src="assets/img/contact/error.png" alt="Error">
                        <img [ngClass]="{'flipped': myForm.get('message')?.invalid,}" class="status-img"
                            src="assets/img/contact/done.png" alt="Checked">
                    </div>
                </div>
                <span class="error-message" *ngIf="myForm.get('message')?.touched && messageError">{{ messageError
                    }}</span>
            </div>

            <div class="agreementContainer">
                <div class="agreement">
                    <div class="custom-checkbox">
                        <input id="agreement" type="checkbox" formControlName="agreement">
                        <label for="agreement"></label>
                    </div>
                    <span translate>I've read the <a routerLink="/data" href="" translate>privacy policy</a> and I
                        agree to the processing of my data as outlined.</span>
                </div>
                <span class="error-message"
                    *ngIf="myForm.get('agreement')?.touched && myForm.get('agreement')?.hasError('required')">{{
                    agreementError }}</span>
            </div>

            <button type="submit" [disabled]="myForm.invalid" translate>Send Message :)</button>

        </form>
    </div>
    <div class="shadowContainer">
        <img src="assets/img/shadows/shadow10.png" alt="">

    </div>

    <img class="scrollUp" (click)="scrollTo('startingPage')" src="assets/img/contact/goup.png" alt="Scroll up">

</section>