<section id="startingPage" class="startingPage">
    <div class="content">
        <div class="picture">
       
            <img src="./../../assets/img/shadows/shadow1.png">
        </div>
        <div class="introduction">
            <div class="iAm">
                <div class="iAmLeft">i am</div>
                <div class="iAmRight">
                    <span class="name">Dogan Celik</span>
                    <span class="jobTitle">Frontend Developer</span>
                </div>
            </div>
            <button class="letsTalk">Let's talk!</button>
        </div>
    </div>
</section>
