<section id="aboutMe" class="aboutMe content">
  <div class="aboutMeContent">
    <div data-aos="fade-right" class="contentLeft">
      <h1 translate>About me</h1>
      <p translate>
        Hi, I’m Doğan – a fullstack developer based in Munich with a strong passion for coding. What excites me most about web development is the ability to bring ideas to life and create solutions that truly help people.
      </p>
      <div class="personal">
        <div class="imgWrapper">
          <img src="assets/img/aboutMe/bulb.png" alt="Bulb" />
        </div>
        <p translate>
          My path into tech wasn’t a straight line – it was a conscious decision. After working on my first small projects, I quickly realized how much I enjoy development. I love exploring new technologies, solving problems, and continuously improving. Today, I enjoy building fullstack projects, especially in team environments where collaboration and learning go hand in hand.
        </p>
      </div>
      <div class="personal">
        <div class="imgWrapper">
          <img src="assets/img/aboutMe/puzzle.png" alt="Puzzle" />
        </div>
        <p translate>
          I’m someone who’s not afraid to dig deep, who asks questions to truly understand things – and who thrives on collaboration to build something we can all be proud of. When I’m not coding, I enjoy learning about the latest tech trends or working on side projects – just for the fun of it.
        </p>
      </div>
    </div>
    <div data-aos="fade-left" class="contentRight">
      <div class="img"><img src="assets/img/aboutMe/foto.png" alt="Dogan Celik" /></div>
      <div class="line"></div>
    </div>
  </div>
  <div class="shadowContainer">
    <img src="assets/img/shadows/shadow7.png" alt="Shadow" />
  </div>
</section>
