<section id="aboutMe" class="aboutMe content">
    <div class="aboutMeContent">
        <div data-aos="fade-right" class="contentLeft">
            <h1 translate>About me</h1>
            <p translate>Hello, nice to meet you! I'm Doğan, a German-speaking frontend developer based in Munich with
                experience in building web applications using JavaScript & Angular. I've worked on projects
                independently and within teams, always adhering to the principles of clean code.</p>
            <div class="personal">
                <div class="imgWrapper">
                    <img src="assets/img/aboutMe/bulb.png" alt="">
                </div>
                <p translate>The breadth of possibilities in programming captivates me. Building projects from the
                    ground up and experiencing the sense of accomplishment upon completion are aspects I truly enjoy. I
                    am currently on the lookout for an opportunity to demonstrate my skills as a junior frontend
                    developer.</p>
            </div>
            <div class="personal">
                <div class="imgWrapper">
                    <img src="assets/img/aboutMe/puzzle.png" alt="">
                </div>
                <p translate>I am thrilled to have discovered my place in the programming world, and now I am eager to
                    become a part of a fantastic team. My aim is continuous learning and growth. I am highly motivated
                    and excited to overcome new challenges and learn from them every day.</p>
            </div>
        </div>
        <div data-aos="fade-left" class="contentRight">
            <div class="img"><img src="assets/img/aboutMe/foto.png" alt=""></div>
            <div class="line"></div>
        </div>
    </div>
    <div class="shadowContainer">
        <img src="assets/img/shadows/shadow7.png" alt="">
    </div>
</section>