<section id="aboutMe" class="aboutMe content">
  <div class="aboutMeContent">
    <div data-aos="fade-right" class="contentLeft">
      <h1 translate>About me</h1>
      <p translate>
        Hello and welcome! I'm Doğan, a fullstack developer based
        in Munich, fluent in German and experienced in building modern web
        applications with JavaScript, Angular, Python/Django Rest Framework and
        other technologies. I have a strong passion for coding and a keen
        interest in the latest trends and technologies in the field.
      </p>
      <div class="personal">
        <div class="imgWrapper">
          <img src="assets/img/aboutMe/bulb.png" alt="" />
        </div>
        <p translate>
          Over the past months, I have successfully worked on frontend, backend and fullstack
          projects, developing independently and within teams, and deploying them
          using Docker and Ubuntu servers. I always focus on clean code, scalability, and a great user experience.
        </p>
      </div>
      <div class="personal">
        <div class="imgWrapper">
          <img src="assets/img/aboutMe/puzzle.png" alt="" />
        </div>
        <p translate>
          I am fascinated by the endless possibilities of programming—creating
          something from scratch and seeing it come to life is what drives me.
          I’m currently seeking an opportunity where I can apply and expand my
          skills as a junior developer. I am highly motivated, love to tackle
          new challenges, and aim to grow continuously while contributing to a
          great team.
        </p>
      </div>
    </div>
    <div data-aos="fade-left" class="contentRight">
      <div class="img"><img src="assets/img/aboutMe/foto.png" alt="" /></div>
      <div class="line"></div>
    </div>
  </div>
  <div class="shadowContainer">
    <img src="assets/img/shadows/shadow7.png" alt="" />
  </div>
</section>
