<section id="skills" class="skills content">

    <div id="skillsContainer" class="skillsContainer">
        <div class="skill" *ngFor="let skill of skills, let i=index" data-aos="flip-left"
            [attr.data-aos-delay]="i * 100" (mouseover)="onMouseOver($event, skill)"
            (mouseout)="onMouseOut($event, skill)">
            <img [src]="skill.img" alt="{{ skill.skill }} Image">
            <span>{{ skill.skill }}</span>
        </div>
    </div>

    <div data-aos="fade-left" class="contentRight">
        <div class="sectionHeader">
            <h1 translate>My Skills</h1>
            <span></span>
        </div>
        <p translate>At the Developer Akademie, I gained hands-on experience in building modern web applications from the ground up. I work confidently across frontend and backend, develop scalable APIs, deploy applications to the cloud, and always focus on clean, high-performance code. Whether it's version control with Git, responsive design, testing, or deployment – I'm familiar with the tools that matter and approach tasks in a structured, solution-oriented way. I'm continuously expanding my technical knowledge with the goal of building reliable applications that perform in real-world scenarios.</p>
        <button data-aos="flip-down" data-aos-delay="300" (click)="scrollTo('contact')" class="getInTouch" translate>Get
            in touch</button>
    </div>
    <button data-aos="flip-down" data-aos-delay="300" data-aos-offset="-100" (click)="scrollTo('contact')"
        class="getInTouchMobile" translate>Get in touch</button>
    <div class="shadowContainer">
        <img src="assets/img/shadows/shadow3.png" alt="Shadow">
    </div>
</section>