
<div class="impressum content">
<div class="impressumContent">
    <h2 translate>Imprint</h2>
    <h2 translate>Information according to § 5 TMG (German Telemedia Act)</h2>
    <span>Doğan Çelik<br>
        Therese-Giehse-Allee 91 <br>
        81739 München</span>
    <h2 tranlate>Contact</h2>
    <span>Telefon: <a href="">0173 388 30 388</a></span>
    <span>E-Mail: <a href="mailto:mail@dogan-celik.com">mail&#64;dogan-celik.com</a> </span>
    <img routerLink="/" class="close" src="assets/img/footer/close.png" alt="">
</div>
</div>