* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$backgroundcolor: #141D2F;
$darkBlue: #141D2FCC;
$purple: #9747FF;
$bluegreen: #1CE6B6;
$lightblue: #00BEE8;
$blue: #4B47FF;
$alternative: #183771;
$green: #70E61C;

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;

  @media (max-width: 800px) {
    scroll-snap-type: none;
  }
}

body {
  width: 100%;
  overflow-x: hidden;
  height: 100vh;
  overflow-y: scroll;
  position: relative;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: $backgroundcolor;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.bodyNoScroll {
  overflow: hidden;
}

.content {
  width: 100%;
  scroll-snap-align: start;
  width: clamp(300px, 100vw, 1600px);
  overflow-x: clip;

  @media (max-width: 800px) {
    scroll-snap-type: none;

  }
}



  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #141D2F;
  }

  ::-webkit-scrollbar-thumb {
    background: #3637B4;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #6161d1;
  }






  h1 {
    font-size: clamp(40px, 5.625vw, 90px);
    font-weight: 700;
    color: white;
  }

  p {
    color: white;
  }