* {
    box-sizing: border-box;
  }
  
  $backgroundcolor: #141D2F;
  $darkBlue: #141D2FCC;
  $purple:#9747FF;
  $lightblue:#1CDAE6;




  html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }
  
  body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: $backgroundcolor;
    overflow-x: hidden;
    overflow-y: scroll;
 
  }
  

 section{
  scroll-snap-align: start;
 }

  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #141D2F;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #3637B4;
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #6161d1;
  }

