<section id="portfolio" class="portfolio content">
    <div class="sectionHeader">
        <div><span></span></div>
        <h1>Portfolio</h1>
        <div><span></span></div>
    </div>
    <p translate>This page is a sample of my work! Scroll down to view other projects I have developed.</p>
    <img class="shadow" src="assets/img/shadows/shadow9.png" alt="Shadow">
    <div class="shadowContainer"><img src="assets/img/shadows/shadow3.png" alt="Shadow"></div>
    
    <app-projects></app-projects>

</section>